@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400..800;1,400..800&display=swap');

.root {
    -fx-font-family: 'Open Sans', Georgia, Calibri, "Roboto Light", sans-serif;
}

* {
    -fx-primary-color: #0957B5;
    -fx-secondary-color: #86120D;
    -fx-light-grey-color: #d1d1d1;
    -fx-focus-color: -fx-secondary-color;
}

.anchorPaneBGFull {
    -fx-background-size: auto, auto;
    -fx-background-position: 0, 100%;
    -fx-background-image: url("../images/bg-cdc-1920x1080-1.jpg");
}

.text-white {
    -fx-text-fill: white !important;
}

.text-blue {
    -fx-text-fill: -fx-primary-color !important;
}

.text-red {
    -fx-text-fill: -fx-secondary-color !important;
}

.bg-white {
    -fx-background-color: white;
}

.bg-transparent {
    -fx-background-color: transparent;
}

.text-xs {
    -fx-font-size: 10 !important;
}

.text-sm {
    -fx-font-size: 12 !important;
}

.text-base {
    -fx-font-size: 14 !important;
}

.text-md {
    -fx-font-size: 17 !important;
}

.text-lg {
    -fx-font-size: 24 !important;
}

.text-xl {
    -fx-font-size: 28 !important;
}

.text-2xl {
    -fx-font-size: 34 !important;
}

.text-3xl {
    -fx-font-size: 40 !important;
}

.text-4xl {
    -fx-font-size: 45 !important;
}

.text-5xl {
    -fx-font-size: 50 !important;
}

.text-center {
    -fx-alignment: center !important;
}

.text-left {
    -fx-alignment: center-left !important;
}

.text-right {
    -fx-alignment: center-right !important;
}

.text-italic {
    -fx-font-style: italic !important;
}

.text-underline {
    -fx-underline: true !important;
}

.field {
    -fx-background-color: white;
    -fx-background-radius: 15 !important;
    -fx-border-radius: 15 !important;
    -fx-border-color: transparent;
    -fx-text-fill: black;
    -fx-font-size: 14px;
}

.bold-disabled {
    -fx-opacity: 1 !important;
    -fx-fill: black !important;
    -fx-font-weight: 700 !important;
}

.label {
    -fx-font-size: 14px;
    -fx-font-weight: 700;
}

.button {
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: white;
    -fx-color-label-visible: true;
    -fx-font-size: 18px;
    -fx-font-weight: 700;

    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-border-color: transparent;
}

.button.return-button,
.button.send-button {
    -fx-background-color: white;
    -fx-text-fill: -fx-primary-color;
    -fx-font-size: 15px;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
}

.button.send-button {
    -fx-background-color: white !important;
    -fx-text-fill: -fx-primary-color;
}

.button.launch-scan-button {
    -fx-font-size: 14px;
    -fx-cursor: hand;
}

.button.return-button:hover,
.button.send-button:hover {
    -fx-background-color: wheat !important;
}

/*######################### TABLE ##########################*/
.table-view .column-header {
    -fx-background-color: -fx-secondary-color !important;
    -fx-pref-height: 40;
    -fx-font-size: 12 !important;
}

.table-view .column-header > .label {
    -fx-text-fill: white !important;
    -fx-font-size: 13 !important;
    -fx-font-weight: 400 !important;
}

.column.centered {
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.pagination {
    -fx-cursor: hand;
    -fx-background-color: white;
    -fx-text-fill: transparent !important;
    -fx-page-information-visible: false;
}

.pagination > .pagination-control > .control-box {
    -fx-spacing: 2;
    -fx-font-size: 10;
}

.pagination > .pagination-control > .control-box > .number-button,
.pagination > .pagination-control > .control-box > .bullet-button {
    -fx-background-insets: 0, 1;
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: white;
    -fx-min-width: 25;
    -fx-min-height: 25;

    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-border-color: -fx-secondary-color;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.pagination > .pagination-control > .control-box > .left-arrow-button,
.pagination > .pagination-control > .control-box > .right-arrow-button {
    -fx-text-fill: -fx-primary-color;
    -fx-fill: -fx-primary-color;
    -fx-background-color: transparent;
}

.pagination > .pagination-control > .control-box > .number-button:hover,
.pagination > .pagination-control > .control-box > .bullet-button:hover {
    -fx-background-insets: 0;
    -fx-background-color: -fx-secondary-color;
}

/* Selected toggle color */
.pagination > .pagination-control > .control-box > .number-button:selected,
.pagination > .pagination-control > .control-box > .bullet-button:selected {
    -fx-background-insets: 0;
    -fx-background-color: white;
    -fx-text-fill: -fx-primary-color;
    -fx-border-color: -fx-primary-color;
}

/*################## Refresh Icon Button #####################*/
.refresh-button, .pagination-previous, .pagination-next {
    -fx-cursor: hand;
    -fx-background-color: transparent;
    -fx-content-display: graphic-only;
}

.refresh-button .refresh-icon {
    -fx-background-color: transparent;
    -fx-border-width: 2;
    -fx-border-color: white;
    -fx-border-style: solid;
    -size: 24;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
    -fx-shape: "M21 12C21 16.9706 16.9706 21 12 21C9.69494 21 7.59227 20.1334 6 18.7083L3 16M3 12C3 7.02944 7.02944 3 12 3C14.3051 3 16.4077 3.86656 18 5.29168L21 8M3 21V16M3 16H8M21 3V8M21 8H16";
}

/*################ Custom pagination button ####################*/
.pagination-previous, .pagination-next {
    -size: 16;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
}

/*################# Progress Bar Indicator #######################*/
.homeIndicator {
    -fx-progress-color: white;
    -fx-font-size: 30px;
    -size: 80;
    -fx-min-width: -size;
    -fx-min-height: -size;
    -fx-pref-width: -size;
    -fx-pref-height: -size;
    -fx-max-width: -size;
    -fx-max-height: -size;
}

.white-loader {
    -fx-progress-color: white;
}

/*################## Scan Page ###################################*/
.check-image-view {
    -fx-background-color: transparent;
    -fx-border-style: solid;
    -fx-border-color: -fx-primary-color;
    -fx-border-width: 1;
    -fx-border-radius: 10;
}

/*################## Choice box (DropDown) #######################*/

.choice-box {
    -fx-background-color: white;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-border-color: transparent;
    -fx-text-fill: black;
    -fx-font-size: 14px;
}

.blue-border {
    -fx-border-color: -fx-primary-color !important;
}

.choice-box.authBox .menu-item > .label {
    -fx-pref-width: 300;
}

.column,
.choice-box,
.choice-box .menu-item {
    -fx-cursor: hand;
}

/*################ Nav Bar #####################################*/

.blue-nav {
    -fx-background-color: linear-gradient(to right, -fx-primary-color, -fx-secondary-color) !important;
    -fx-border-width: 0;
    -fx-border-insets: 0;
}

/*############### Date Picker #################################*/
.date-picker {
    -fx-font-size: 13px;
    -fx-border-color: -fx-primary-color;
    -fx-font-weight: 700;
}

.date-picker .arrow-button {
    -fx-background-color: -fx-primary-color;
    -fx-background-radius: 0;
    -fx-cursor: hand;
}

.date-picker .arrow-button:hover {
    -fx-background-color: -fx-secondary-color;
}

.date-picker .arrow-button .arrow {
    -fx-background-color: white;
}

.date-picker .cell {
    -fx-background-color: white;
    -fx-cursor: hand;
    pointer-events: none;
}

.date-picker .cell:hover {
    -fx-background-color: -fx-secondary-color;
}

.date-picker .cell:focused {
    -fx-background-color: -fx-light-grey-color;
}

.date-picker .selected {
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: white;
}

.date-picker .selected:focused {
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: white;
}

.date-picker-popup {
    -fx-border-color: transparent;
}

.date-picker-popup .month-year-pane {
    -fx-background-color: -fx-primary-color;
}

.date-picker-popup .month-year-pane .label {
    -fx-text-fill: white;
}

.date-picker-popup .week-number-cell {
    -fx-text-fill: -fx-secondary-color;
}

.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
    -fx-background-color: white;
    -fx-cursor: hand;
}